@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  hyphens: auto;
}

@layer utilities {
  p {
    @apply text-xl text-gray-600 mb-4;
  }

  a {
    @apply text-xl text-blue-40 hover:font-medium;
  }

  h1 {
    @apply text-clip mb-2 mt-4 text-4xl font-semibold text-blue-40
  }

  #sec1 {
    @apply pt-6
  }

  section {
    @apply pt-2
  }

  h2 {
    @apply text-3xl font-semibold text-blue-40 my-4 break-words;
  }

  h3 {
    @apply mt-6 mb-4 text-2xl font-semibold text-blue-40;
  }

  .h3 {
    @apply mb-4 mt-2 text-2xl font-semibold text-gray-110;
  }

  .h4 {
    @apply my-2 text-xl text-gray-600 font-semibold
  }

  h4 {
    @apply my-2 text-xl text-blue-40 font-semibold
  }

  strong {
    font-weight: 550;
    @apply text-blue-40;
  }

  ul {
    @apply mb-2
  }

  .table-container {
    @apply mt-10 mb-6 md:mx-12 overflow-x-auto
  }

  .table {
    @apply min-w-full border-gray-200
  }

  .header-row {
    @apply text-blue-40 bg-zinc-50 text-lg font-medium
  }

  .city-table-container {
    @apply mt-6 mb-10 md:mx-12 overflow-x-auto
  }

  .th {
    @apply p-2 text-left font-semibold
  }

  .tr {
    @apply border-t-2 text-lg text-gray-110 
  }

  .td {
    @apply p-2
  }

  .table-div {
    @apply pl-2 text-lg text-gray-600
  }
  
  .table-link {
      @apply text-lg
  }
  
  .button {
    @apply bg-green-90 text-white text-lg py-2 px-4 rounded-lg text-center no-underline
  }

  .button-blue {
    @apply bg-blue-20 text-white text-lg py-2 px-4 rounded-lg text-center no-underline
  }

  .button-text {
    @apply text-green-90 text-base underline underline-offset-2
  }

  .soft-title {
    @apply text-lg text-blue-40 uppercase text-center
  }
  
  .custom-grid-layout {
    grid-template-columns: 1fr 2fr;
    /* Default grid layout */
  }
  
  @media (min-width: 768px) {
    
    /* Adjust this breakpoint if needed */
    .custom-grid-layout {
      grid-template-columns: 1fr 2fr 1fr;
      /* Grid layout for medium screens and up */
    }
  }
  
  .grid-enum {
    grid-template-columns: 1fr 1r;
    /* Default grid layout */
  }
  
  
  .layout-state {
    grid-template-columns: 1fr 2fr;
    /* Default grid layout */
  }
  
  .layout-no-header {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .truncate-2-lines {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  } 

  .breadcrumb {
    @apply text-sm truncate text-blue-40
  }
  
  .content-section {
    @apply text-base no-underline pl-4;
  }
  
  .info-component {
    @apply w-1/3 flex justify-center items-center gap-x-2
  }
  
  #summary a {
    @apply text-base 
  }

  #summary h3 {
    @apply my-auto 
  }

  #summary ul {
    @apply mt-6  ml-3 md:ml-6 lg:ml-6 text-sm md:text-lg
  }
  
}